h1 { color: #020449; 
        display: block;
       font-size: 4em;
      margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 1em;
  margin-right: 0;
  font-weight: bold;
  font-family:'verdana';
}
   
    h2 { color: #020449; 
        display: block;
       font-size: 3em;
      margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 2.5em;
  margin-right: 0;
  font-weight: bold;
  font-family:'verdana';
}
p
{
  display: block;
  margin-left: 7em;
  margin-right: 7em;
  font-weight: bold;
  font-family:'verdana';
  font-size: 1.2em;

}